.Main {
  text-align: center;
  border: 0;
  position: relative;
}

.Main-header {
  background-image: url(/public/background-simple.webp);
  background-color: #246077;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #246077;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Main-subtitle {
  font-family: papyrus;
  color: #246077;
  margin: 30;
  font-size: 1.5vw;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .Main-header {
    height: 60vh;
  }
}

@media (min-width: 1023px) {
  /* big landscape tablets, laptops, and desktops */
  .Main-header {
    height: 100vh;
  }
}

/* Title */

.Main-title {
  font-family: papyrus;
}

@media (min-width: 1023px) {
  .Main-title {
    font-size: 3vw;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .Main-title {
    font-size: 6.5vw;
    position: absolute;
    top: 5%;
  }

  .Main-subtitle {
    font-size: 5.5vw;
    /* position: absolute; */
    top: 95%;
  }
}

/* Button */

.Main-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: papyrus;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.5em;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.5vw;
  /* width: 10vw; */
}

.Main-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.Main-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .Main-button {
    /* position: absolute; */
    bottom: 35%;
    font-size: 3vw;
  }
}

.Main-link {
  color: #246077;
  text-decoration: none;
  font-family: papyrus;
  font-weight: bold;
}
