/* @media (min-width:1281px) { */
/* hi-res laptops and desktops */
.Timeline {
  background-image: url(/public/meghivo_hatter.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* } */

.Timeline {
  background-color: #1bf0ff;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(35, 129, 211);
  font-size: 24px;
  padding: 30px;
  text-shadow: 0.075em 0 white, 0 0.075em white, -0.075em 0 white,
    0 -0.075em white;
  border: 0px;
  min-height: 90vh;
  padding-left: 0px;
}

@media (min-width: 320px) {
  .Timeline {
    font-size: 0.2vw;
  }
}

.TimelineItem {
}

@media (min-width: 320px) and (max-width: 640px) {
  .Timeline-content {
    font-size: 3vw;
  }

  .Timeline-content-sub {
    font-size: 2vw;
  }
}

.Timeline-note {
  color: black;
  position: relative;
}
