.Navbar-menu-button {
    /* min-height: 5vh; */
    /* position: sticky; */

    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-family: papyrus;
}

.Navbar-link {
    color: #246077;
    text-decoration: none;
    font-family: papyrus;
    font-weight: bold;  
}

.Navbar-appbar {
    background-image: linear-gradient(#246077,rgb(140, 191, 193));
}