.CountDownTimer {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgb(140, 191, 193), rgb(223, 237, 239));
  background-color: #7dc8df;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 200px;
}

.time {
  font-size: 16px;
}

.CountDownTimer-circle {
  size: 200;
}
